*{
    margin: 0;
    padding: 0;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background: #607d8b;
    border: none;
    color: white;
    border-radius: 10px;
}
.textview{
    width: 210px;
    margin:5px 4px;
    font-size: 25px;
    padding:5px;
    border: none;
    color: #607d8b;
    border-radius: 10px;
}

#zero{
    width: 108px;
}
#equal{
    height: 107px;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#bg{
    /* background-color: red; */
    background:linear-gradient(to left,#e91e63,#2196f3);
    height: 100vh;
}
.title{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}